<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=1000%, user-scalable=no">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' blob: data:;">
	<link rel="icon" href="/img/chat-processing-outline.png">
	
	<title>チャット</title>
	<!-- socket.io クライアントライブラリ -->
	<script src="/socket.io/socket.io.js"></script>

	<!-- スタイル①：基本レイアウト・各要素の設定 -->
	<link rel="stylesheet" href="/style.css">

	<!-- スタイル②：モバイル用のフォントサイズ調整 -->
	<link rel="stylesheet" href="/mobile.css">
</head>
<body>
	<div id="container">
		<div id="room-info">
			<div id="rid"></div>
			<div id="users"></div>
			<div id="userList"></div>
			<div id="overlayBack"></div>
		</div>
		<div id="userContainer">
			<button name="rename" onclick="rename()">
				<!-- SVGアイコン -->
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" fill="white" stroke="white">
					<title>pencil-outline</title>
					<path d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
				</svg>
			</button>
			<input autocomplete="off" name="username" readonly>
		</div>
		<div id="messageContainer">
			<label for="inputFile">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<title>ファイルをアップロード</title>
					<path d="M7,15L11.5,9L15,13.5L17.5,10.5L21,15M22,4H14L12,2H6A2,2 0 0,0 4,4V16A2,2 0 0,0 6,18H22A2,2 0 0,0 24,16V6A2,2 0 0,0 22,4M2,6H0V11H0V20A2,2 0 0,0 2,22H20V20H2V6Z" />
				</svg>
			</label>
			<input type="file" id="inputFile" name="file" accept="image/*, video/*">
			<input autocomplete="off" name="text" placeholder="メッセージを入力">
			<button name="sendText">
				<!-- SVGアイコン -->
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" fill="white" stroke="white">
					<title>send-variant-outline</title>
					<path d="M3 20V4L22 12M5 17L16.85 12L5 7V10.5L11 12L5 13.5M5 17V7 13.5Z" />
				</svg>
			</button>
			<button name="sendMedia">
				<!-- SVGアイコン -->
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" fill="white" stroke="white">
					<title>send-variant-outline</title>
					<path d="M3 20V4L22 12M5 17L16.85 12L5 7V10.5L11 12L5 13.5M5 17V7 13.5Z" />
				</svg>
			</button>
		</div>
		<textarea id="response" spellcheck="false" readonly></textarea>
		<div id="responseContainer"></div>
	</div>

	<!-- JavaScript 部分 -->
	<script src="/script.js"></script>
</body>
</html>
