.mobi-4 {
	font-size: 4rem!important;
}
.mobi-3 {
	font-size: 3rem!important;
}
.responseItem .mobi-3, .responseItem-he .mobi-3 {
	margin: 2rem 0;
}
.item.mobi-3 {
	padding: .5rem 3rem;
}
.mobi-25 {
	font-size: 2.5rem!important;
}